<h1>About Flicki</h1>
<div class="row">
    <div class="col-md-9">
        <p>
            Hi, I'm Brandon. I built this web app in Ruby on Rails as a way to test and demonstrate my skills as a web developer. The concept of this application probably isn't very useful&mdash;a wiki for editing and updating basic movie information&mdash;but the purpose of this project is to practice my Rails skills, particularly as they relate to offering premium content and charging for it. This web app also marks my first use of the <a href="https://rubygems.org/gems/devise/versions/3.5.6" target="_blank">Devise</a> gem for managing user data. This project can be found on <a href="https://github.com/capncapes/flicki" target="_blank">Github</a>.
        </p>
    </div>
    <div class="col-md-3">
        <h4>Github</h4>
        <p><a href="https://github.com/capncapes/flicki" target="_blank">https://github.com/capncapes/flicki</a></p>
        <h4>Portfolio</h4>
        <p><a href="http://brandoncaples.com/" target="_blank">brandoncaples.com</a></p>
    </div>
</div>