<h1>Edit "<%= @wiki.title %>"</h1>

<div class="row">
    <div class="col-md-3">
        <h3>Please update information about the Flicki in the fields provided.</h3>
    </div>
    <div class="col-md-9">
       <%= render "form" %>
    </div>
</div>