<h1>All Flickis</h1>
<div class="row">
    <div class="col-md-9">
        <% @wikis.each do |flicki| %>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">
                        <i class="ion-film-marker"></i>&nbsp;<%= link_to flicki.title, flicki %>
                    </h4>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-3">
        <%= link_to "New Flicki", new_wiki_path, class: 'btn btn-flicki' %>
    </div>
</div>

