<h1>New Flicki</h1>

<div class="row">
    <div class="col-md-3">
        <h3>Please enter information about the Flicki in the fields provided.</h3>
    </div>
    <div class="col-md-9">
        <%= render "form" %>
    </div>
</div>