@import "bootstrap-sprockets";
@import "bootstrap";
@import "ionicons";

$yellow: #fbc52c;
$orange: #ff8a00;
$nav-color: #222;
$gray: #555;

html, body {
    height: 100%;
}

a {
    color: $orange;
}

a:hover, a:active {
    text-decoration: underline;
}

p {
    font-size: 16px;
}

.flicki-nav {
    height: 10%;
    min-height: 60px;
    background-color: $nav-color;
}

.nav {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.nav-item a {
    color: $yellow;
    padding-left: 0;
    padding-right: 0;
}

.nav-item a:hover, .nav-item a:active {
    color: $nav-color;
}

.navbar-brand, .nav-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    font-size: 3rem;
    float: none;
    width: 90px;
    color: $yellow;
    text-align: center;
}

.nav-acct {
    color: #fff;
    text-align: right;
}

.nav-acct a:hover, .nav-acct a:active {
    color: #fff;
}

.nav-acct .nav-btn {
    padding: 0.25rem;
    margin: 0 0.25rem;
    color: $yellow;
    background-color: none;
    font-variant: small-caps;
    text-decoration: none;
}

.nav-acct .nav-btn.upgrade-btn {
    border: 2px solid $yellow;
}

.nav-acct .nav-btn.upgrade-btn:hover, .nav-acct .nav-btn.upgrade-btn:active {
    border-color: #fff;
}

.nav-acct .nav-btn.other-btn {
    border: 2px solid none;
}

.jumbotron {
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron a {
    color: $yellow;
}

.jumbotron a:hover, .jumbotron a:active {
    color: #fff;
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    width: 100%;
}

.badge {
    text-transform: uppercase;
}

.badge.badge-standard {
    background-color: $gray;
}

.badge.badge-premium {
    background-color: $yellow;
}

.badge.badge-admin {
    background-color: $orange;
}

div.col-md-3.buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-flicki {
    color: #fff;
    background-color: $yellow;
}

.btn-flicki:hover, .btn-flicki:active {
    background-color: $orange;
}

.field.field-margin {
    margin: 0 0 25px 0;
}

@media (min-width: 1200px) {
    .nav {
        padding: 0 5rem;
    }
    
    .navbar-brand:hover, .navbar-brand:active {
        color: #fff;
    }
}

@media (min-width: 992px) {
    // .nav {
    //     width: 970px;
    // }
}

@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
    
    .nav-acct small {
        display: none;
    }
}